#top-content { 
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    font-size: 2rem;
}

#top-text {
    display: inline-block;
    font-size: medium;

}

#center-image {
    width: auto;
    padding-left: 550px;
   
}

#bottom-content {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    font-size: 2em;

}
#bottom-text {display: inline-block;
    font-size: medium;
}

#second-image {
    width: auto;
}

#fourth-section {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    font-size: 16px;
}

#third-image {
    width: auto;
}

#fifth-section {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;

}